body {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cars-image {
  width: 50%;
}

.cars-image img {
  width: 100%;
}

.car-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.cars-name {
  font-size: 20px;
  font-weight: bold;
}

.cars-make {
  font-size: 16px;
  font-weight: bold;
}

.cars-type {
  font-size: 16px;
  font-style: italic;
}

.cars-cost {
  font-size: 18px;
  font-weight: bold;
}

.cars-speed {
  font-size: 16px;
}

.cars-color {
  font-size: 16px;
}
