
body {
  box-sizing: border-box;
}

.app-title {
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
}

.app-msg {
  font-style: italic;
  text-align: center;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(var(--cars-per-row), 1fr);
  grid-gap: 20px;
  align-items: center;
}

.car-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
  align-items: center;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  padding: 4px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid #ddd;
  color: #ddd;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  background-color: #333;
  color: #fff;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: visible !important;
}
