:root {
  --main-color: #96bf01;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttn {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  color: var(--main-color);
}

#rsrv-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);
}

#rsrv-page h1 {
  margin: 20px 0;
  font-family: var(--main-font);
  color: #fff;
}

#rsrv-page form input {
  border: 1px solid #acacac;
}

#rsrv-page form input[type="text"],
#rsrv-page form input[type="number"],
#rsrv-page form input[type="date"] {
  min-width: 300px;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 15px;
}
