:root {
  --main-color: #96bf01;
  --main-font: 'Segoe UI', tahome, geneva, verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttn {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  color: var(--main-color);
}

.msg-sucss {
  font-size: 1rem;
  color: green;
  font-weight: 600;
}

.msg-fail {
  font-size: 0.9rem;
  color: red;
  font-weight: 600;
}

#rsrv-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);
}

#rsrv-page h1 {
  margin: 20px 0;
  font-family: var(--main-font);
  color: #fff;
}

#rsrv-page form input {
  border: 1px solid #acacac;
}

#rsrv-page form input[type="text"],
#rsrv-page form input[type="number"],
#rsrv-page form input[type="date"],
#rsrv-page form select {
  min-width: 300px;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 15px;
}

#resevations-page {
  min-height: 100vh;
  padding: 25px 0;
  font-family: var(--main-font);
  text-align: center;
  background-color: var(--main-color);
}

#resevations-page h1 {
  margin: 45px 0;
  color: #fcfcfc;
}

#resevations-list {
  display: grid;
  justify-items: center;
}

div.mycard {
  min-height: 100px;
  min-width: 300px;
  margin: 10px 0;
  padding: 15px 15px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  gap: 10px;
  position: relative;
  white-space: nowrap;
  background-color: #ececec;
  color: #2c2c2c;
}

div.mycard h2 {
  font-size: 1.2rem;
}

div.mycard .myicon {
  width: 20px;
}

div.mycard .mycard-footer {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 5px;
  left: 25px;
}

div.mycard .myrow {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  #resevations-list {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 1024px) {
  #resevations-list {
    grid-template-columns: 33% 33% 33%;
  }
}
